body {
    display: block; 
    margin: 0;
    padding: 0 2rem; 

}

header {
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
}

h1 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin: 0; 
}


 img {
    display: inline-block; 
    margin-left: 0.5rem;
    vertical-align: middle; 
    max-height: 4rem;
    border-radius: 50px;
}


.color1 {
    color: #F79C42; 
}

.color2 {
    color: #4EBBE4; 
}

main {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 15px;
    width: 10rem;
}








