.index {
    background-image: url('bakgrund.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}






html,
body {
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-bottom: 5rem;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0;
}


img {
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: middle;
    max-height: 4rem;
    border-radius: 50px;
}


.color1 {
    color: #F79C42;
}

.color2 {
    color: #4EBBE4;
}

.color3 {
    color: #255C89;
}

main {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 15px;
    /* width: 10rem; */
}

.surv {
    margin-top: 0;
    color: grey;
    font-size: smaller;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.rubrik2 {
    font-size: x-large;
    text-decoration: underline;
    text-decoration: underline #F79C42
}

.pda1 {
    max-width: 2.5rem;

}

.text {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin-left: -2.5rem;
    color: #99FFFF;
}

.text1 {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;


    color: #99FFFF;
}




.rubrik3 {
    font-size: x-large;
    text-decoration: underline;
    text-decoration: underline #F79C42
}

.color4 {

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;

    
    color: #255C89;
}

.jobblogo {
    max-width: 2.5rem;


}




.rubrik3 {
    font-size: x-large;
    text-decoration: underline;
    text-decoration: underline #F79C42
}

.color4 {

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;

    
    color: #255C89;
}

.edu {

    max-width: 2.5rem;

}

.underrubrik {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;


    color: #99FFFF;
}

.knapp {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;


    color: #F79C42;
}


.about {


    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    border: 4px solid #99ffff63;
    background-color: #99ffff4d;
    border-radius: 2.3rem;



    p {
        font-family: "Days One", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #F79C42;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.hej {

    background-image: url(bkg.jpg);
    background-size: cover;
}

.länk {

    color: #99FFFF;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1a21a2;
    margin-left: 3rem;
    margin-right: 3rem;
    
    text-decoration-line: underline;


}

.länk1 {

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F79C42;

    text-decoration-line: underline;

}